$fonts: 'fonts/';

@font-face {
    font-family: 'PingFang SC';
    src: url($fonts + 'pingfangsc-light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'PingFang SC';
    src: url($fonts + 'pingfangsc.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'PingFang SC';
    src: url($fonts + 'pingfangsc-medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}